body {
    background-color: white;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: black;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: grey;
    transition: background 500ms;
}

.footer-edit {

    background-color: #efefef;
    height: 300px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
}


.contact-header {

    font-size: 30px;
    text-transform: uppercase;
    
}

.text2 {

    padding-top: 20px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#info-text {

    font-size: 14px;
    transition: 0.8s all;
    cursor: pointer;
    text-decoration: underline;
}

#info-text:hover {

    color: red;
}

#message {

    width: 20rem;
    height: 10rem;
    background-color: transparent;
    border-color:  black;
    border-radius: 8px;
    border: 0.5px solid;
}




@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




