html {

    scroll-behavior: smooth;
  }
  

body {
    background-color: black;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;

}

.blurb h2 {
   color: #b39700;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: black;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #ffd700;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #292929;
    transition: background 500ms;
    color: white;
}

.footer-edit {

    background-color: #efefef;
    height: 300px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
}


.contact-header {

    font-size: 30px;
    text-transform: uppercase;
    
}

.text2 {

    padding-top: 20px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#info-text {

    font-size: 14px;
    transition: 0.8s all;
    cursor: pointer;
    text-decoration: underline;
}

#info-text:hover {

    color: red;
}

#text-styling {

color: white;
font-family: 'Maven Pro', sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 16px;
font-weight: 500;
}

#message {

    width: 20rem;
    height: 10rem;
    background-color: transparent;
    border-color:  black;
    border-radius: 8px;
    border: 0.5px solid;
}



.first-hr {
    color: white;
    width: 80%;
    border-color: grey;
     border: 0.5px solid rgb(61, 61, 61);
     margin-top: 120px;
     margin-bottom: 120px;
}

#section1 {

    margin-top: 40px;
}

#slider img {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#slider img:hover {
    transform: scale(1.1);
}

#imgheader {

    height: 700px;
}


  
  /* .bck-img{
    width: 100%;
    height: 800px;
    animation: breath 10s linear infinite;
    background: url(../images/background.png) center center no-repeat;
  } */

  .header-text {

    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: 'Maven Pro';
    padding-bottom: 60px;
    color: white;
    text-transform: uppercase;
  }

  .span-journey {

    color: #ffd700;
  }

  #section-team {

    padding: 30px;
    margin: 50px;
  }
  
    #language-selector {
  
  
      border: none;
      width: 100px;
  
    }

    #portofolio_section {

        height: 500px;
        padding-top:px;
        margin-bottom: 500px;
        margin-right: 20px;
        margin-left: 20px;
        padding-right: 20px;
        padding-left: 20px;
      
        }
    #team-img {

        width: 150px;
        height: 150px;
        border: 1px solid black;
        }

    #scroll-down {

        font-size: 20px;
        }

    #parag {

        font-size: 16px;
        font-family: montserrat;
        letter-spacing: -1px;
        color: white;
        text-transform: uppercase;
        }

    .team-header {

        font-size: 26px;
        font-family: 'Maven Pro', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #b39700;
        }

    .team-members {

        font-size: 60px;
        font-family: 'Maven Pro', sans-serif;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        text-transform: uppercase;
        }

  .team-items {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .team-container {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
 
  }

  #team-c {

    display: flex;
  }

  #main-footer {

    height: 400px;
    background-color: black;
    margin-bottom: 0;

  }

  #footer-container {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0;

  }


  #footer-column {

    
    max-width: 100%;
  }

  #footer-header {

    font-weight: 300;
    font-size: 30px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Maven Pro', sans-serif;
  }

  #footer-column2 {

    font-family: 'Maven Pro', sans-serif;
    padding: 10px;
    padding-top: 30px;
  }

  .footer-logo-p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
  }

  #footer-icon {

    padding-right: 26px;
    background: transparent;
    width: 20px;

  }

  .footer-motto {

    font-size: 28px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
  }

  #footer-paragraph {

    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
  }

  #footer-paragraph:hover {

    transform: scale(1.1);
    background: linear-gradient(90deg, rgb(255, 55, 91) 2.02%, rgb(255, 169, 69) 96.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footer-copyright {

    color: grey;
    font-size: 10px;
  }


@media (max-width: 1386px) {
  #footer-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;

    }
    .blurb h2 {
        font-size: 2rem;
    }
}

@media (max-width: 1368px) {

    #team-c {
        flex-direction: column;
    }

    .team-container {

        flex-direction: column;
        border: 0;
    }
}
#small_img
 {
	width: 100px;
	height: 100px;
 }
 
 #team-section
 {
 	display: flex;
    align-items: center;
    justify-content: center;
   }
   

#team-c {
    display: flex;
    justify-content: space-evenly;
}


.first-hr {
  width: 80%;
}

@media (max-width: 600px) {
  .first-hr {
    width: 100%;
  }
}


#main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  @media (max-width: 768px) {

    #cover {
  
      display: none;
    }
  
    #portofolio_section {
      margin-bottom: 100px;
      height: 400px;
      flex-direction: row;
    }
  }
  

@media (max-width: 1368px) {

#main-footer {
    flex-direction: column;
    height: 500px;
}

#section-team {

    flex-direction: column;
    margin: 0;
}

#portofolio_section {
    flex-direction: column;
}

#footer-column, #footer-column2 {

    flex-direction: column;
    border: 0;
}

#footer-container {
    flex-direction: column;
}
}




    





